<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <listener>
  <description>session监听器</description>
  <listener-class>com.session.MySessionListener</listener-class>
 </listener>
 <servlet>
  <description>登录数据处理</description>
  <display-name>登录</display-name>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <description>更改密码</description>
  <display-name>更改密码</display-name>
  <servlet-name>ChangePasswordServlet</servlet-name>
  <servlet-class>com.servlet.ChangePasswordServlet</servlet-class>
 </servlet>
 <servlet>
  <description>注销退出</description>
  <display-name>注销退出</display-name>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>com.servlet.LogoutServlet</servlet-class>
 </servlet>
 <servlet>
  <description>转换登录角色</description>
  <display-name>转换登录角色</display-name>
  <servlet-name>ChangeRoleServlet</servlet-name>
  <servlet-class>com.servlet.ChangeRoleServlet</servlet-class>
 </servlet>
 <servlet>
  <description>日报列表</description>
  <display-name>日报列表</display-name>
  <servlet-name>DailyListServlet</servlet-name>
  <servlet-class>com.servlet.DailyListServlet</servlet-class>
 </servlet>
 <servlet>
  <description>包含项目人员查询日报的所有方法</description>
  <display-name>项目人员查询日报</display-name>
  <servlet-name>DailyQueryForMemberServlet</servlet-name>
  <servlet-class>com.servlet.DailyQueryForMemberServlet</servlet-class>
 </servlet>
 <servlet>
  <description>填写日报</description>
  <display-name>填写日报</display-name>
  <servlet-name>DailyWriteServlet</servlet-name>
  <servlet-class>com.servlet.DailyWriteServlet</servlet-class>
 </servlet>
 <servlet>
  <description>选择项目</description>
  <display-name>选择项目</display-name>
  <servlet-name>ProjectSelectServlet</servlet-name>
  <servlet-class>com.servlet.ProjectSelectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>处理回复日报信息</description>
  <display-name>日报回复</display-name>
  <servlet-name>DailyReplyServlet</servlet-name>
  <servlet-class>com.servlet.DailyReplyServlet</servlet-class>
 </servlet>
 <servlet>
  <description>处理新提交的提醒信息</description>
  <display-name>提交提醒</display-name>
  <servlet-name>SubmitMemoServlet</servlet-name>
  <servlet-class>com.servlet.SubmitMemoServlet</servlet-class>
 </servlet>
 <servlet>
  <description>查询用户参与的项目</description>
  <display-name>用户参与项目</display-name>
  <servlet-name>MyProjectServlet</servlet-name>
  <servlet-class>com.servlet.MyProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>用户项目统计</description>
  <display-name>用户项目统计</display-name>
  <servlet-name>ProjectStaForMemberServlet</servlet-name>
  <servlet-class>com.servlet.ProjectStaForMemberServlet</servlet-class>
 </servlet>
 <servlet>
  <description>统计用户临时任务提交信息</description>
  <display-name>用户临时任务统计信息</display-name>
  <servlet-name>TempTaskStatisitcServlet</servlet-name>
  <servlet-class>com.servlet.TempTaskStatisitcServlet</servlet-class>
 </servlet>
 <servlet>
  <description>查询项目经理曾经、现在负责的项目</description>
  <display-name>项目经理负责项目</display-name>
  <servlet-name>InChargeOfProjectServlet</servlet-name>
  <servlet-class>com.servlet.InChargeOfProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>项目经理查看项目详细信息</description>
  <display-name>项目经理查看项目详细信息</display-name>
  <servlet-name>ProjectDetailForMngServlet</servlet-name>
  <servlet-class>com.servlet.ProjectDetailForMngServlet</servlet-class>
 </servlet>
 <servlet>
  <description>为项目添加新项目人员</description>
  <display-name>为项目添加新项目人员</display-name>
  <servlet-name>AddUserForProjectServlet</servlet-name>
  <servlet-class>com.servlet.AddUserForProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>删除项目人员</description>
  <display-name>删除项目人员</display-name>
  <servlet-name>DeleteUserFromProjectServlet</servlet-name>
  <servlet-class>com.servlet.DeleteUserFromProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>项目统计for项目经理</description>
  <display-name>项目统计for项目经理</display-name>
  <servlet-name>ProjectStaForMngServlet</servlet-name>
  <servlet-class>com.servlet.ProjectStaForMngServlet</servlet-class>
 </servlet>
 <servlet>
  <description>将用户从任务中删除</description>
  <display-name>将用户从任务中删除</display-name>
  <servlet-name>DeleteUserFromTaskServlet</servlet-name>
  <servlet-class>com.servlet.DeleteUserFromTaskServlet</servlet-class>
 </servlet>
 <servlet>
  <description>为项目任务添加用户</description>
  <display-name>为项目任务添加用户</display-name>
  <servlet-name>AddUserForTaskServlet</servlet-name>
  <servlet-class>com.servlet.AddUserForTaskServlet</servlet-class>
 </servlet>
 <servlet>
  <description>项目经理查询日报</description>
  <display-name>项目经理查询日报</display-name>
  <servlet-name>DailyQueryForMngServlet</servlet-name>
  <servlet-class>com.servlet.DailyQueryForMngServlet</servlet-class>
 </servlet>
 <servlet>
  <description>查询部门信息</description>
  <display-name>查询部门信息</display-name>
  <servlet-name>DepartmentalInfoServlet</servlet-name>
  <servlet-class>com.servlet.DepartmentalInfoServlet</servlet-class>
 </servlet>
 <servlet>
  <description>部门统计信息</description>
  <display-name>部门统计信息</display-name>
  <servlet-name>StatisticsForDepServlet</servlet-name>
  <servlet-class>com.servlet.StatisticsForDepServlet</servlet-class>
 </servlet>
 <servlet>
  <description>部门长审阅日报</description>
  <display-name>部门长审阅日报</display-name>
  <servlet-name>DailyCheckServlet</servlet-name>
  <servlet-class>com.servlet.DailyCheckServlet</servlet-class>
 </servlet>
 <servlet>
  <description>部门人员管理</description>
  <display-name>部门人员管理</display-name>
  <servlet-name>UserMngForDepServlet</servlet-name>
  <servlet-class>com.servlet.UserMngForDepServlet</servlet-class>
 </servlet>
 <servlet>
  <description>为系统添加新用户</description>
  <display-name>添加新用户</display-name>
  <servlet-name>AddNewUserServlet</servlet-name>
  <servlet-class>com.servlet.AddNewUserServlet</servlet-class>
 </servlet>
 <servlet>
  <description>部门长查询日报</description>
  <display-name>部门长查询日报</display-name>
  <servlet-name>DailyQueryForDepServlet</servlet-name>
  <servlet-class>com.servlet.DailyQueryForDepServlet</servlet-class>
 </servlet>
 <servlet>
  <description>PMO查询所有项目</description>
  <display-name>PMO查询所有项目</display-name>
  <servlet-name>GetAllProjectServlet</servlet-name>
  <servlet-class>com.servlet.GetAllProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>PMO查询项目相信信息</description>
  <display-name>PMO查询项目相信信息</display-name>
  <servlet-name>ProjectDetailForPMOServlet</servlet-name>
  <servlet-class>com.servlet.ProjectDetailForPMOServlet</servlet-class>
 </servlet>
 <servlet>
  <description>更改项目状态</description>
  <display-name>更改项目状态</display-name>
  <servlet-name>ChangeProjectStatusServlet</servlet-name>
  <servlet-class>com.servlet.ChangeProjectStatusServlet</servlet-class>
 </servlet>
 <servlet>
  <description>查看PCB的里程碑</description>
  <display-name>查看PCB的里程碑</display-name>
  <servlet-name>CheckMileStoneServlet</servlet-name>
  <servlet-class>com.servlet.CheckMileStoneServlet</servlet-class>
 </servlet>
 <servlet>
  <description>删除PCB的里程碑</description>
  <display-name>删除PCB的里程碑</display-name>
  <servlet-name>DeleteMilestoneOfPCBServlet</servlet-name>
  <servlet-class>com.servlet.DeleteMilestoneOfPCBServlet</servlet-class>
 </servlet>
 <servlet>
  <description>为PCB添加新的里程碑</description>
  <display-name>为PCB添加新的里程碑</display-name>
  <servlet-name>AddMilestoneConfServlet</servlet-name>
  <servlet-class>com.servlet.AddMilestoneConfServlet</servlet-class>
 </servlet>
 <servlet>
  <description>删除项目</description>
  <display-name>删除项目</display-name>
  <servlet-name>DeleteProjectServlet</servlet-name>
  <servlet-class>com.servlet.DeleteProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>创建项目</description>
  <display-name>创建项目</display-name>
  <servlet-name>AddNewProjectServlet</servlet-name>
  <servlet-class>com.servlet.AddNewProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>添加项目经理</description>
  <display-name>添加项目经理</display-name>
  <servlet-name>AddManagerServlet</servlet-name>
  <servlet-class>com.servlet.AddManagerServlet</servlet-class>
 </servlet>
 <servlet>
  <description>更改项目经理</description>
  <display-name>更改项目经理</display-name>
  <servlet-name>ChangeManagerServlet</servlet-name>
  <servlet-class>com.servlet.ChangeManagerServlet</servlet-class>
 </servlet>
 <servlet>
  <description>删除项目经理</description>
  <display-name>删除项目经理</display-name>
  <servlet-name>DeleteManagerServlet</servlet-name>
  <servlet-class>com.servlet.DeleteManagerServlet</servlet-class>
 </servlet>
 <servlet>
  <description>删除PCB</description>
  <display-name>删除PCB</display-name>
  <servlet-name>DeletePCBServlet</servlet-name>
  <servlet-class>com.servlet.DeletePCBServlet</servlet-class>
 </servlet>
 <servlet>
  <description>检查PCB名称是否被占用</description>
  <display-name>检查PCB名称</display-name>
  <servlet-name>CheckPCBNameServlet</servlet-name>
  <servlet-class>com.servlet.CheckPCBNameServlet</servlet-class>
 </servlet>
 <servlet>
  <description>添加PCB</description>
  <display-name>添加PCB</display-name>
  <servlet-name>AddPCBServlet</servlet-name>
  <servlet-class>com.servlet.AddPCBServlet</servlet-class>
 </servlet>
 <servlet>
  <description>任务详细</description>
  <display-name>任务详细</display-name>
  <servlet-name>TaskDetailForPMOServlet</servlet-name>
  <servlet-class>com.servlet.TaskDetailForPMOServlet</servlet-class>
 </servlet>
 <servlet>
  <description>从项目中删除任务</description>
  <display-name>从项目中删除任务</display-name>
  <servlet-name>DeleteTaskFromProjectServlet</servlet-name>
  <servlet-class>com.servlet.DeleteTaskFromProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>为项目添加任务</description>
  <display-name>为项目添加任务</display-name>
  <servlet-name>AddTaskForProjectServlet</servlet-name>
  <servlet-class>com.servlet.AddTaskForProjectServlet</servlet-class>
 </servlet>
 <servlet>
  <description>PMO查看项目统计</description>
  <display-name>PMO查看项目统计</display-name>
  <servlet-name>ProjectStaForPMOServlet</servlet-name>
  <servlet-class>com.servlet.ProjectStaForPMOServlet</servlet-class>
 </servlet>
 <servlet>
  <description>任务管理</description>
  <display-name>任务管理</display-name>
  <servlet-name>TaskManageServlet</servlet-name>
  <servlet-class>com.servlet.TaskManageServlet</servlet-class>
 </servlet>
 <servlet>
  <description>PMO查询日报</description>
  <display-name>PMO查询日报</display-name>
  <servlet-name>DailyQueryForPMOServlet</servlet-name>
  <servlet-class>com.servlet.DailyQueryForPMOServlet</servlet-class>
 </servlet>
 <servlet>
  <description>人员管理</description>
  <display-name>人员管理</display-name>
  <servlet-name>UserManageServlet</servlet-name>
  <servlet-class>com.servlet.UserManageServlet</servlet-class>
 </servlet>
 <servlet>
  <description>部门管理</description>
  <display-name>部门管理</display-name>
  <servlet-name>DepartmentManageServlet</servlet-name>
  <servlet-class>com.servlet.DepartmentManageServlet</servlet-class>
 </servlet>
 <servlet>
  <description>PMO管理</description>
  <display-name>PMO管理</display-name>
  <servlet-name>PMOManageServlet</servlet-name>
  <servlet-class>com.servlet.PMOManageServlet</servlet-class>
 </servlet>
 <servlet>
  <description>添加、删除、查看里程碑</description>
  <display-name>添加、删除、查看里程碑</display-name>
  <servlet-name>MilestoneManageServlet</servlet-name>
  <servlet-class>com.servlet.MilestoneManageServlet</servlet-class>
 </servlet>
 <servlet>
  <description>添加、修改email</description>
  <display-name>添加、修改email</display-name>
  <servlet-name>ChangeEmailServlet</servlet-name>
  <servlet-class>com.servlet.ChangeEmailServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangePasswordServlet</servlet-name>
  <url-pattern>/ChangePasswordServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/LogoutServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeRoleServlet</servlet-name>
  <url-pattern>/ChangeRoleServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DailyListServlet</servlet-name>
  <url-pattern>/DailyListServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DailyQueryForMemberServlet</servlet-name>
  <url-pattern>/DailyQueryForMemberServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DailyWriteServlet</servlet-name>
  <url-pattern>/DailyWriteServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectSelectServlet</servlet-name>
  <url-pattern>/ProjectSelectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DailyReplyServlet</servlet-name>
  <url-pattern>/DailyReplyServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SubmitMemoServlet</servlet-name>
  <url-pattern>/SubmitMemoServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MyProjectServlet</servlet-name>
  <url-pattern>/MyProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectStaForMemberServlet</servlet-name>
  <url-pattern>/ProjectStaForMemberServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TempTaskStatisitcServlet</servlet-name>
  <url-pattern>/TempTaskStatisitcServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InChargeOfProjectServlet</servlet-name>
  <url-pattern>/InChargeOfProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectDetailForMngServlet</servlet-name>
  <url-pattern>/ProjectDetailForMngServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddUserForProjectServlet</servlet-name>
  <url-pattern>/AddUserForProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteUserFromProjectServlet</servlet-name>
  <url-pattern>/DeleteUserFromProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectStaForMngServlet</servlet-name>
  <url-pattern>/ProjectStaForMngServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteUserFromTaskServlet</servlet-name>
  <url-pattern>/DeleteUserFromTaskServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddUserForTaskServlet</servlet-name>
  <url-pattern>/AddUserForTaskServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DailyQueryForMngServlet</servlet-name>
  <url-pattern>/DailyQueryForMngServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DepartmentalInfoServlet</servlet-name>
  <url-pattern>/DepartmentalInfoServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StatisticsForDepServlet</servlet-name>
  <url-pattern>/StatisticsForDepServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DailyCheckServlet</servlet-name>
  <url-pattern>/DailyCheckServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserMngForDepServlet</servlet-name>
  <url-pattern>/UserMngForDepServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddNewUserServlet</servlet-name>
  <url-pattern>/AddNewUserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DailyQueryForDepServlet</servlet-name>
  <url-pattern>/DailyQueryForDepServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetAllProjectServlet</servlet-name>
  <url-pattern>/GetAllProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectDetailForPMOServlet</servlet-name>
  <url-pattern>/ProjectDetailForPMOServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeProjectStatusServlet</servlet-name>
  <url-pattern>/ChangeProjectStatusServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CheckMileStoneServlet</servlet-name>
  <url-pattern>/CheckMileStoneServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteMilestoneOfPCBServlet</servlet-name>
  <url-pattern>/DeleteMilestoneOfPCBServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddMilestoneConfServlet</servlet-name>
  <url-pattern>/AddMilestoneConfServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteProjectServlet</servlet-name>
  <url-pattern>/DeleteProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddNewProjectServlet</servlet-name>
  <url-pattern>/AddNewProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddManagerServlet</servlet-name>
  <url-pattern>/AddManagerServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeManagerServlet</servlet-name>
  <url-pattern>/ChangeManagerServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteManagerServlet</servlet-name>
  <url-pattern>/DeleteManagerServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeletePCBServlet</servlet-name>
  <url-pattern>/DeletePCBServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CheckPCBNameServlet</servlet-name>
  <url-pattern>/CheckPCBNameServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddPCBServlet</servlet-name>
  <url-pattern>/AddPCBServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TaskDetailForPMOServlet</servlet-name>
  <url-pattern>/TaskDetailForPMOServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteTaskFromProjectServlet</servlet-name>
  <url-pattern>/DeleteTaskFromProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddTaskForProjectServlet</servlet-name>
  <url-pattern>/AddTaskForProjectServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectStaForPMOServlet</servlet-name>
  <url-pattern>/ProjectStaForPMOServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TaskManageServlet</servlet-name>
  <url-pattern>/TaskManageServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DailyQueryForPMOServlet</servlet-name>
  <url-pattern>/DailyQueryForPMOServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserManageServlet</servlet-name>
  <url-pattern>/UserManageServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DepartmentManageServlet</servlet-name>
  <url-pattern>/DepartmentManageServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PMOManageServlet</servlet-name>
  <url-pattern>/PMOManageServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MilestoneManageServlet</servlet-name>
  <url-pattern>/MilestoneManageServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeEmailServlet</servlet-name>
  <url-pattern>/ChangeEmailServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/page/login.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
